body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
     display: flex;
    justify-content: center;
    align-items: center;  
    height: 100vh;
    background-image:url("bk.jpg");
    background-size:cover;
  }
.container{
    height:200px;
    width:400px;
    background-color: rgb(119, 102, 102);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.name{
    height:30px;
    width:100%;
    font-size: large;
    margin-bottom: 3%;
    border-radius:5px;
}
.password{
    height:30px;
    width:100%;
    font-size: large;
    margin-bottom: 7%;
    border-radius:5px;
}


.btn{
    height:40px;
    width:100%;
    text-align: center;
    font-size: large;
    border-radius:5px;
    background-color:rgb(42, 45, 213);
}